@import "tailwindcss";

@theme {
    --color-dark-bg: #0a0a0c;
    --color-card-bg: #161618;
}

:root {
    --bg-dark: #0a0a0c;
}

body {
    @apply bg-[#0a0a0c] text-white;
    font-family: 'Pretendard', sans-serif;
}